@{
    
 Developer developer = (Developer)ViewBag.CurrentDeveloper;
}
<div>
<dl class="row">
    <dt class="col-2">@Html.DisplayNameFor(e=>developer.Id)</dt>
    <dd class="col-10">@Html.DisplayFor(e=>developer.Id)</dd>
    <dt class="col-2">@Html.DisplayNameFor(e=>developer.Name)</dt>
    <dd class="col-10">@Html.DisplayFor(e=>developer.Name)</dd>
    <dt class="col-2">@Html.DisplayNameFor(e=>developer.About)</dt>
    <dd class="col-10">@Html.DisplayFor(e=>developer.About)</dd>
    <dt class="col-2">@Html.DisplayNameFor(e=>developer.Email)</dt>
    <dd class="col-10">@Html.DisplayFor(e=>developer.Email)</dd>
    <dt class="col-2">@Html.DisplayNameFor(e=>developer.Address)</dt>
    <dd class="col-10">@Html.DisplayFor(e=>developer.Address)</dd>


</dl>
<img src="@developer.ImagePath" id="devImage" class="col-6 card" />
</div>

@if (developer.Games.Count() > 0 && developer.Games != null)
{
    <ul class="list-group col-4">
        <li class="list-group-item active">Games   </li>
        @foreach (var item in developer.Games)
        {
            <a asp-controller="Games" asp-action="GetDetailsView" asp-route-Id="@item.Id" style="text-decoration:none">
            <li class="list-group-item list-group-item-action">
                    @item.Name (@item.ReleaseDate)
            </li>
            </a>
        }
    </ul>
}
else
{
    <h1 class="alert alert-danger">There is no Games</h1>
}